/* font-family: "mudstone-sans", sans-serif;
font-weight: 900;
font-style: normal; */

/* font-family: "barlow-condensed", sans-serif;
font-weight: 400;
font-style: normal; */

/* GRID SET-UP */

body {
  display: grid;
  grid-template-areas:
    "header main"
    "header footer";
  margin: 0%;
}

main {
  background: #f9f4ea;
  grid-area: main;
  width: 100%;
}

/* HEADER - SIDE-MENU */

header {
  grid-area: header;
  background-color: #546745;
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}

#logo {
  font-family: "mudstone-sans", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  font-style: normal;
  text-align: center;
  color: #f9f4ea;
}

a {
  text-decoration: none;
  color: #f9f4ea;
}

ul {
  font-family: "mudstone-sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4 rem;
  display: flexbox;
  list-style: none;
  text-align: center;
  padding-left: 0%;
}

#cart-icon {
  padding-top: 5%;
  width: 20%;
}

.navlink {
  color: #f9f4ea;
  text-decoration: none;
}

.navlink:hover {
  color: #e3a994;
}

/* MAIN */

.page-title {
  display: block;
  font-family: "mudstone-sans", sans-serif;
  font-size: 4svw;
  text-decoration: none;
  color: #4e351e;
  padding-left: 1rem;
  margin: 0%;
  padding-top: 1rem;
}

#header-img {
  width: 98%;
  height: 50vh;
  padding: 1%;
}

.home-category {
  display: block;
  font-family: "mudstone-sans", sans-serif;
  font-size: 3svw;
  text-align: left;
  text-decoration: none;
  color: #4e351e;
  padding-left: 1%;
  margin: 0%;
  padding-top: 1rem;
}

.home-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.home-item {
  width: 15vw;
  text-decoration: none;
  color: #f9f4ea;
}

p {
  font-family: "barlow-condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#home-about {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}

#about-text {
  padding-right: 30%;
  justify-self: left;
}

#team-img {
  width: 50%;
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.grid-item {
  width: 100%;  
  margin: 0%;
  padding: 0%;
}

figcaption{
  color: black;
}

/* FOOTER */

footer {
  grid-area: footer;
  background-color: #c47457;
  padding-bottom: 0%;
  padding-left: 0%;
}

.footer-icon {
  width: 1rem;
  display: flexbox;
}

.footer-container {
  display: inline-block;
  padding: 2rem;
  font-family: "barlow-condensed", sans-serif;
}



/* SIDE-MENU POP-UP OVERLAY */

#overlay {
  display: none;
  position: absolute;
  left: 100%;
  top: 175px;
  background-color: #c47457;

  color: white;
  font-family: "mudstone-sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4 rem;

  width: 200px;
}

.over-link:hover {
  background-color: #e3a994;
}

.over-link {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

h3 {
  margin: 0%;
}
