/* font-family: "mudstone-sans", sans-serif;
font-weight: 900;
font-style: normal; */

/* font-family: "chorine-large", sans-serif;
font-weight: 500;
font-style: normal; */

/* font-family: "barlow-condensed", sans-serif;
font-weight: 400;
font-style: normal; */
a {
  text-decoration: none;
  color: white;
}

#logo {
  font-family: "mudstone-sans", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  font-style: normal;
  text-align: center;
  color: #f9f4ea;
}

#header-img {
  width: 98%;
  height: 30%;
  padding: 1%;
}

.home-category {
  display: block;
  font-family: "mudstone-sans", sans-serif;
  font-size: 3svw;
  text-decoration: none;
  color: black;
  padding-left: 1rem;
  margin: 0%;
  padding-top: 1rem;
}

.home-item {
  display: inline-block;
  width: 20%;
  text-decoration: none;
  color: white;
  padding-left: 1%;
}

ul {
  font-family: "mudstone-sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4 rem;
  display: flexbox;
  list-style: none;
  text-align: center;
  padding-left: 0%;
}

.navlink {
  color: #f9f4ea;
  text-decoration: none;
}

p {
  font-family: "barlow-condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: grid;
  grid-template-areas:
    "header main"
    "header footer";
  margin: 0%;
}

main {
  grid-area: main;
}

header {
  grid-area: header;
  background-color: #546745;
  height: 100vh;
  position: sticky;
  top: 0;
  width: 250px;
  margin-left: 0%;
  margin-right: 0%;
}

footer {
  grid-area: footer;
  background-color: #c47457;
  padding-bottom: 100px;
  padding-left: 0%;
}

#overlay {
  display: none;
  position: absolute;
  left:250px;
  top: 200px;
  background-color:#c47457;
  color: white;
  font-family: "mudstone-sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4 rem;

  width: 200px;
}
